<h3>Sign Up</h3>

  <br>
  <br>

  <form class="" action="/signup" method="post">
  <label for="username">Username:  </label>
  <input type="text" name="username" value="">

  <label for="password">Password: </label>
  <input type="text" name="password" value="">

  <input type="submit" value="Signup">


</form>
