<h2>Create a Sleep Planner</h2>
<br>

<form action="/planners" method="post">

  <h3>Add New Baby:</h3>
  <label for="name">Baby's Name: </label>
  <input type="text" name="baby[name]" id="name">

  <br>
  <br>

  <h3>or choose from existing Baby:</h3>

  <%@babies.each do |b|%>
  <label><%=b.name%></label>
<input type="checkbox" name="[baby][babys_id]" value="<%=b.id%>" id="baby_<%=b.id%>"></input>
  <br>
  <%end%>

  <br>

  <h3>Enter Sleep Times: </h3>
  <h3>for example 9:00am, 10:30am, 2:00pm</h3>

  <br>

  <label for="wake_time">Wake Time:</label>
  <input type="text" name="[planners][wake_time]" id="wake_time">
  <br>
  <br>
  <br>

  <h4>Morning Nap</h4>
  <br>
  <label for="morning_nap_start_time">Start Time:</label>
  <input type="text" name="[planners][morning_nap_start_time]" id="morning_nap_start_time">
  <br>
  <br>

  <label for="morning_nap_end_time">End Time:</label>
  <input type="text" name="[planners][morning_nap_end_time]" id="morning_nap_end_time">
  <br>
  <br>

  <label for="morning_nap_total_time">Total Nap Time:</label>
  <input type="text" name="[planners][morning_nap_total_time]" id="morning_total_end_time">
  <br>
  <br>
  <br>

  <h4>Midday Nap</h4>
  <br>
  <label for="midday_nap_start_time">Start Time:</label>
  <input type="text" name="[planners][midday_nap_start_time]" id="midday_nap_start_time">
  <br>
  <br>

  <label for="midday_nap_end_time">End Time:</label>
  <input type="text" name="[planners][midday_nap_end_time]" id="midday_nap_end_time">
  <br>
  <br>

  <label for="midday_nap_total_time">Toal Time:</label>
  <input type="text" name="[planners][midday_nap_total_time]" id="midday_nap_total_time">
  <br>
  <br>
  <br>

  <h4>Late Afternoon Nap</h4>
  <br>
  <label for="late_afternoon_nap_start_time">Start Time:</label>
  <input type="text" name="[planners][late_afternoon_nap_start_time]" id="late_afternoon_nap_start_time">
  <br>
  <br>

  <label for="late_afternoon_nap_end_time">End Time:</label>
  <input type="text" name="[planners][late_afternoon_nap_end_time]" id="late_afternoon_nap_end_time">
  <br>
  <br>

  <label for="late_afternoon_nap_total_time">Total Time:</label>
  <input type="text" name="[planners][late_afternoon_nap_total_time]" id="late_afternoon_nap_total_time">
  <br>
  <br>
  <br>
  <label for="total_nap_time"><b>Total Nap Time:</label>
  <input type="text" name="[planners][total_nap_time]" id="total_nap_time">
  <br>
  <br>
  <br>
  <label for="bed_time">Bed Time:</label>
  <input type="text" name="[planners][bed_time]" id="bed_time">
  <br>
  <br>

  <label for="notes">Notes: </label>
  <textarea name="[planners][notes]" id="notes" rows="10" cols="80"></textarea>

  <br>
  <br>

  <input type="submit" id="submit" value="Submit">
</form>
