<h3><%=current_user.username.capitalize%>'s planners: </h3>
<br>

<!-- # <%@planners.each do |planner| %>
# <h3><a href="/planners/<%=planner.id%>">
#   <p><%=planner.date%></p>
# </a></h3>
# <%end%> -->
