<h3>Baby: <%=@baby.name%></h3>
<a href="/babies/<%=@baby.id%>/edit">Edit Baby</a>

<br>
<br>

<form class="" action="/babies/<%=@baby.id%>" method="post">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" name="" value="Delete">

</form>
