<a href="/babies/<%=@baby.id%>/edit">Edit Baby</a>

<h3>Baby: <%=@baby.name%></h3>

<br>
<br>

<form method="post" action="/babies/<%=@baby.id%>">
<input id="hidden" type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Baby">
</form>
