<table style="width:100%" id="t01">
  <tr>
    <th class="yellow center" colspan="5">ESTIMATED TOTAL SLEEP TIME</th>
  </tr>
  <tr>
    <th class="yellow">Baby's Age</th>
    <th class="yellow">Number of Naps</th>
    <th class="yellow">Nap Time Sleep(Hours)</th>
    <th class="yellow">Night Time Sleep(Hours)</th>
    <th class="yellow">Total Sleep Per Day(Hours)</th>
  </tr>
  <tr>
    <th class="blue">0-3 Months:</th>
    <td class="center" colspan="3">Baby will need sleep after 1 to 2 hours of wake time</td>
    <td class="center">14 - 17</td>
  </tr>
  <tr>
    <th class="blue">3-6 Months:</th>
    <td class="center">3</td>
    <td class="center">3 - 5</td>
    <td class="center">10 - 12</td>
    <td class="center">12 - 15</td>
  </tr>
  <tr>
    <th class="blue">6-9 Months:</th>
    <td class="center">2 - 3</td>
    <td class="center">3 - 4</td>
    <td class="center">10 - 12</td>
    <td class="center">12 - 15</td>
  </tr>
  <tr>
    <th class="blue">9-12 Months:</th>
    <td class="center">2</td>
    <td class="center">2 - 3</td>
    <td class="center">10 - 12</td>
    <td class="center">12 - 15</td>
  </tr>
  <tr>
    <th class="blue">1-2 Years:</th>
    <td class="center">1 - 2</td>
    <td class="center">1 1/2 - 2</td>
    <td class="center">11 - 12</td>
    <td class="center">11 - 14</td>
  </tr>
  <tr>
    <th class="blue">2-3 Years:</th>
    <td class="center">1</td>
    <td class="center">2</td>
    <td class="center">11 - 12</td>
    <td class="center">11 - 14</td>
  </tr>
</table>

<br>
<br>
