<table id="t01">
  <tr>
    <th>ESTIMATED TOTAL SLEEP TIME</th>
  </tr>
  <tr>
    <th class="yellow">Baby's Age</th>
    <th class="yellow">Number of Naps</th>
    <th class="yellow">Nap Time Sleep(Hours)</th>
    <th class="yellow">Night Time Sleep(Hours)</th>
    <th class="yellow">Total Sleep Per Day(Hours)</th>
  </tr>
  <tr>
    <th class="blue">0-3 Months:</th>
    <td>Baby will need sleep after 1 to 2 hours of wake time</td>
    <td>14-18</td>
  </tr>
  <tr>
    <th class="blue">3-6 Months:</th>
    <td>3</td>
    <td>3 - 5</td>
    <td>10 - 12</td>
    <td>14 - 15</td>
  </tr>
  <tr>
    <th class="blue">6-9 Months:</th>
    <td>2 - 3</td>
    <td>3 - 4</td>
    <td>10 - 12</td>
    <td>14 - 15</td>
  </tr>
  <tr>
    <th class="blue">9-12 Months:</th>
    <td>2</td>
    <td>2 - 3</td>
    <td>10 - 12</td>
    <td>14 - 15</td>
  </tr>
  <tr>
    <th class="blue">1-2 Years:</th>
    <td>1 - 2</td>
    <td>1 1/2 - 2</td>
    <td>11 - 12</td>
    <td>13 - 14</td>
  </tr>
  <tr>
    <th class="blue">2-3 Years:</th>
    <td>1</td>
    <td>2</td>
    <td>11 - 12</td>
    <td>12 - 14</td>
  </tr>
</table>
