<h2>Welcome to Sleepy Star, a baby's sleep tracker!</h2>
<br>
<a href="/login">Login</a> or
<a href="/signup">Signup</a> here

<br>
<br>

<h3>Why log sleep?</h3>
  <ul>
    <li>To keep track of how much overall sleep your baby needs in a given day.</li>
    <li>Identify sleep patterns and trends which will help to see any inconsistencies.</li>
    <li>Adjust sleep times if necessary for consistency, patterns or trends.</li>
    <li>Identify sleep problems</li>
  </ul>

<br>

<h3>How to use this sleep planner?</h3>
<ul>
  <li>Determine total hours of sleep needed per day, estimated in the chart provided here.</li>
  <li>Record sleep times in the drop down boxes provided.</li>
  <li>Plan daily nap time and night sleep schedule based on total sleep required per day.</li>
</ul>

<br>

<h3>Helpful resources</h3>
  <ul>
    <li>Web MD</li>
    <li>National Sleep Association</li>
  </ul>

<br>
