<h2>Welcome to Sleepy Star, a Baby's Sleep Tracker!</h2>
<br>
<a href="/login">Login</a> or
<a href="/signup">Signup</a> here

<br>
<br>

<h3>Why log sleep?</h3>
  <ul>
    <li>It is important to keep track of how much overall sleep your baby is getting in a given day to ensure they are getting enough sleep.</li>
    <li>Logging sleep will help to identify sleep problems and inconsistencies.</li>
    <li>By logging sleep, a parent can adjust sleep times if necessary for consistency, patterns or trends.</li>
  </ul>

<br>

<h3>How to use this sleep planner?</h3>
<ul>
  <li>Determine total hours of sleep needed per day, estimated in the chart provided here.</li>
  <li>Record sleep times in the drop down boxes provided.</li>
  <li>Plan daily nap time and night sleep schedule based on total sleep required per day.</li>
</ul>

<br>

<h3>Helpful resources</h3>
  <ul>
    <li><a href="https://www.webmd.com/parenting/guide/sleep-children#1" target="_blank">Web Md: How Much Sleep Do Children Need?</a></li>
    <li><a href="https://www.sleepfoundation.org/press-release/national-sleep-foundation-recommends-new-sleep-times" target="_blank">National Sleep Association:
      National Sleep Foundation Recommends New Sleep Times</a></li>
  </ul>

<br>
