<h3>Welcome to Sleepy Star, a baby's sleep tracker!</h3>
<br>
<a href="/login">Login</a> or
<a href="/signup">Signup</a> here

<br>
<br>

<h3>Sleep Plan</h3>

<ul>
  <li>Determine total hours of sleep needed per day, estimated in the chart provided.</li>

  <li>Record sleep times in the text boxes provided.</li>

  <li>Plan daily nap time and night sleep schedule based on total sleep required per day.</li>

  <li>Identify sleep patterns and trends.</li>

  <li>Adjust sleep times if necessary for consistency, patterns or trends.</li>
</ul>
